a.dropdown-menu-sub-footer {
	cursor: pointer;
}

.nav-tabs.nav-stacked > li > a {
	border: 2px solid transparent;
}

.nav-tabs.nav-stacked > li > a:hover {
	border-left-width: 2px;
	border-top-width: 2px;
	border-bottom-width: 2px;
}

.nav-tabs.nav-stacked > li.active > a {
	border-right: 2px solid transparent;
}

.loadingbar {
	background-image: url('../img/ajax-loader.gif');
	background-position: top center;
	background-repeat: no-repeat;
}

.daterange-prepick {
	background: #ffffff;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
	box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
	color: #333333;
	padding: 8px;
	line-height: 18px;
	cursor: pointer;
}

.daterange-prepick .caret {
	margin-top: 8px;
	margin-left: 2px;
}

.daterange-prepick span {
	padding-left: 3px;
}