a.dropdown-menu-sub-footer {
	cursor: pointer;
}

.nav-tabs.nav-stacked > li > a {
	border: 2px solid transparent;
	border-right: none;
}

.nav-tabs.nav-stacked > li > a:hover {
	border-left-width: 2px;
	border-top-width: 2px;
	border-right-width: 2px;
}